@charset "UTF-8";
/* CSS Document */
/* Author - Nick Burchall */
/* www.enbee-design.co.uk */


/* ------- RESET -- */

html, body{
 margin: 0;
 padding: 0;
 border: 0;
}
body {
/*
 font-family:Arial,  sans-serif;
 line-height:1.5;
 font-size:16px;
*/
 text-align: center;
 word-wrap: break-word;
 -webkit-text-size-adjust: none;
}
h1, h2, h3, h4, h5, h6{ font-weight: normal; }
p img {/*  float: left; */ margin: 0 10px 5px 0; padding: 0; }
img { border: 0; max-width: 100%; }



/* ------- DEFAULTS -- */

#wrapper { position:absolute; z-index:1; top:45px; bottom:48px; left:0; width:100%; overflow:auto; }
#main-content { position:absolute; z-index:1; width:100%; padding:0; }


/* Page Control */
#pages > div { display: none; padding: 10px; }
/* #pages > div.current { display: block; } */

/* Default Page Styling */
#pages{ position:relative; }



#pages #login { padding-top: 50px; }

#form-loading{ display: none; }


/* FORM STYLING */
.ui-field-contain label{ display: block; width: 100%; }

#form-content .ui-field-contain{ margin-bottom: 30px !important; }
#form-content .ui-field-contain textarea.ui-input-text{ height: 250px; }

input#addressField { width:70% !important; margin-right: 5% !important; }
input#postcodeField { width:25% !important; }


/* Update this style */
/* #pages > div { display: none; position: absolute; top:0; left:0; width:100%; height: 100%; } */

/* Page Animation */
.in, .out { -webkit-animation-timing-function: ease-in-out; -webkit-animation-duration: 400ms; }

@-webkit-keyframes fade-in {
	from { opacity: 0; } to { opacity: 1; }
}

/* Make Sure Faded In Page Is On Top */
.fade.in { -webkit-animation-name: fade-in; z-index: 5; }
.fade.out { z-index: 0; }


/* NAV STYLING */
.btn-list{ margin-left: 0px; }


/* TAB BAR STYLING */

#tab-bar{ margin:0; padding:0; display: none; background-color: #000; height: 75px; margin-top: -1px; }
#tab-bar li { display: inline; float:left; width: 33.333%; }
#tab-bar a { background-color: #000; color: #fff; display: block; font-weight: bold; overflow: hidden; position: relative; text-align: center; text-decoration: none; -webkit-touch-callout:none; padding-top: 10px; padding-bottom: 10px; line-height: 75px; }




/* PHOTO UPLOAD STYLING  */

#progress { display: none; }
#progress span { display: block; padding: 2px 0; width: 0; background: #193; text-align: center; }
#success{ display: none; }

