@charset "UTF-8";
/* CSS Document */
/* Author - Nick Burchall */
/* www.enbee-design.co.uk */


/* ------- RESET -- */

html, body{
 margin: 0;
 padding: 0;
 border: 0;
}
body {
 text-align: center;
 word-wrap: break-word;
 -webkit-text-size-adjust: none;
}
h1, h2, h3, h4, h5, h6{ font-weight: normal; }
p img {/*  float: left; */ margin: 0 10px 5px 0; padding: 0; }
img { border: 0; max-width: 100%; }



/* ------- DEFAULTS -- */

#wrapper { position:absolute; z-index:1; top:45px; bottom:48px; left:0; width:100%; overflow:auto; }
#main-content { position:absolute; z-index:1; width:100%; padding:0; }


/* Page Control */
#pages > div { display: none; padding: 10px; }

/* Default Page Styling */
#pages{ position:relative; }

#pages #login { padding-top: 50px; }

#form-loading{ display: none; }


/* FORM STYLING */
.ui-field-contain label{ display: block; width: 100%; }
.ui-br{ border-bottom: none !important; }

#form-content .ui-field-contain{ margin-bottom: 30px !important; }
#form-content .ui-field-contain textarea.ui-input-text{ height: 250px; }

#addressDiv div:nth-of-type(1){ width: 78%; margin-right: 2%; float: left; }
#addressDiv div:nth-of-type(2){ width: 20%; float: left; }

input#addressField { /* width:70% !important; color: blue !important; */ }
input#postcodeField {/*  width:25% !important; */ }


/* Page Animation */
.in, .out { -webkit-animation-timing-function: ease-in-out; -webkit-animation-duration: 400ms; }

@-webkit-keyframes fade-in {
	from { opacity: 0; } to { opacity: 1; }
}

/* Make Sure Faded In Page Is On Top */
.fade.in { -webkit-animation-name: fade-in; z-index: 5; }
.fade.out { z-index: 0; }


/* NAV STYLING */
.btn-list{ margin-left: 0px; }


/* TAB BAR STYLING */

#tab-bar{ margin:0; padding:0; display: none; /* background-color: #000; */ }
/*
#tab-bar li { display: inline; float:left; width: 33.333%; }
#tab-bar a { background-color: #000; color: #fff; display: block; font-weight: bold; overflow: hidden; position: relative; text-align: center; text-decoration: none; -webkit-touch-callout:none; padding-top: 10px; padding-bottom: 10px; line-height: 75px; }
*/

/* this makes the nav bar a bit higher than default */
.myNavBar .ui-btn .ui-btn-inner { padding-top: 40px !important; }

/* and this makes the space for the icons a bit bigger */
.myNavBar .ui-btn .ui-icon { width: 40px!important; height: 40px!important; margin-left: -20px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; 
margin-top:-5px;
}

/* this inserts the actual custom icon, adjust size to taste */
#homeBtn .ui-icon {
	background: url(images/home.png) 50% 50% no-repeat;
	background-size:32px 32px;
	background-color: transparent;
	box-shadow: none;
}
#reportsBtn .ui-icon {
	background: url(images/report.png) 50% 50% no-repeat;
	background-size:32px 32px;
}
#photoBtn .ui-icon {
	background: url(images/photo.png) 50% 50% no-repeat;
	background-size:32px 32px;
}

.ui-li-link-alt span.ui-btn-corner-all {
  border-style: hidden;
  -webkit-box-shadow: none;
  }



/* PHOTO UPLOAD STYLING  */

#progress { display: none; }
#progress span { display: block; padding: 2px 0; width: 0; background: #193; text-align: center; }
#success{ display: none; }

