<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.upload.enbee"
        versionCode="21" 
        version   = "2.1.0">

    <!-- versionCode is optional and Android only -->

    <name>Angel Patrol</name>

    <description>
        Angel Patrol Application 
    </description>

    <author href="http://www.enbee-design.co.uk" email="nick@enbee-design.co.uk">
        Nick Burchall 
    </author>
    
    <!-- PREFERENCES -->
    
    <preference name="orientation"                value="portrait" />  
    <preference name="phonegap-version" value="3.6.3" />    
    
    <!-- ACCESS PERMISSIONS -->
    <access origin="http://127.0.0.1*"/>
    <access origin="http://angelpatrol.co.uk" />
    <access origin="http://sitemods.enbeedesign.co.uk" />
    <access origin=".*"/>
    
    <!-- FEATURES -->
    
    <feature name="Camera">
    	<param name="android-package" value="org.apache.cordova.camera.CameraLauncher" />
	</feature>

</widget>